@font-face {
  font-family: helvetica-1;
  src: url(../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf);
}
@font-face {
  font-family: helvetica-2;
  src: url(../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf);
}
body {
  background-color: #0a22f4;
  height: 100%;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact {
  width: 500px;
  height: 600px;
  background-color: black;
}
.contact h2 {
  font-size: 32px;
  color: #ffffff;
  font-family: helvetica-1;
}
.contact p {
  font-size: 16px;
  color: #ffffff;
  font-family: helvetica-2;
}
.contact a {
  color: #ffffff;
}
/* .circle {
  position: relative;
  width: 100px;
}
.icon {
  position: absolute;
  width: 50px;
} */
.map {
  width: 500px;
  height: 300px;
  background-color: wheat;
}
.information {
  width: 500px;
  height: 600px;
  background-color: red;
}
